.container {
    width: 1200px;
    margin: auto;
}
nav {
    background-color: #edffa9;
}
nav ul{
    display: flex;
    padding: 0;
}
nav li{
    list-style: none;
    display: inline-block;
}   
.logo {
    background-color: #eca3f5;
    flex-grow:1;
    margin: 0 10px;
    padding:10px;
}
.menu {
    background-color: #eca3f5;
    flex-grow:2;
    margin: 0;
    padding:10px;
}
.sns {
    background-color: #eca3f5;
    flex-grow:1;
    margin: 0 10px;
    padding:10px;
}

header {

    border-top: 0;
    background-color: #edffa9;
    display: flex;
}
.header-item{
    width: 100%;
    background-color: #eca3f5;
    margin: 10px;
    padding:10px;
}

main {
    background-color: #fdbaf8;
    margin: 10px 0;
    display: flex;
}

.news {
    background-color: #b0efeb;
    margin: 10px;
    padding:10px;
}

.news p{
    column-count: 2;
}

aside {
    background-color: #b0efeb;
    margin: 10px;
    padding:10px;
}

footer {
    border: 0.5rem solid;
    background-color: #b0efeb;
}

.footer-item {
    background-color: #edffa9;
    margin: 10px;
    padding:10px;
}

/* tablet */
  @media (max-width: 1200px) {
    .container {
        width: 577px;
    }
    main {
        display:block;
    }
    .news {
        width: 520px;
    }
    aside {
        width: 520px;
    }
  }

/* mobile */
  @media (max-width: 576px) {
    .container {
        width: 100%;
    }
    nav ul{
        display: block;
    }
    nav li{
        list-style: none;
        display: block;
    } 
    .menu {
        margin: 10px;
    }
    .news {
        width: 85%;
    }
    .news p{
        column-count: 1;
    }
    aside {
        width: 85%;
    }
    
  }